*.egg-info/
__pycache__/
*.pyc
.ruff_cache/
*.pkl
temp/*
notebooks/cbc.log

# Ignore everything in data (but not the folder itself)
data/*
# Un-ignore the tracks folder and everything in it
!data/tracks
# Un-ignore the ownership folder
!data/ownership
# Ignore everything in the ownership folder
data/ownership/*
# Un-ignore this file
!data/ownership/owned_cars.json